version: "3.8"
services:
  oauth2-db:
    image: mysql:8.3.0
    container_name: oauth2-db
    environment:
      MYSQL_ROOT_PASSWORD: kIo9u7Oi0eg
    ports:
      - "6657:3306"
    volumes:
      - ./db/init-scripts:/docker-entrypoint-initdb.d/

  oauth2-server:
    image: springsecurity101/oauth2-server:1.0.0
    container_name: oauth2-server
    ports:
      - "8080:8080"
    depends_on:
      - oauth2-db

  userservice:
    image: springsecurity101/userservice:1.0.0
    container_name: userservice
    ports:
      - "8081:8081"

networks:
  default:
    name: oauth2-net