server:
  port: 8080

spring:
  application:
    name: oauth2-server
  datasource:
    url: jdbc:mysql://oauth2-db:3306/oauth?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: kIo9u7Oi0eg